
/*home page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button .normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}

button .white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
    background-color: white;

}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(186, 152, 66);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s;
}

#navbar li a:hover {
    background-color:#222;
    color: red;
}

.logo {
    width: 50px;
    margin-right: 8%;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#hero {
    background-image: url(images/q.jpg);
    background-repeat: no-repeat;
    height: 140vh;
    width: 100%;
    background-position: top 4% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 19px;
}

#hero h3,
#hero h4 {
    color: whitesmoke;
}




#hero button:hover {
    background-color: goldenrod;
    color: black;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 30%;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

.boy {
    width: 100%;
    height: 25%;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1)
}

#feature .fe-box img {
    width: 90%;
    margin-bottom: 10px;

}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:hover h6 {
    background-color: goldenrod;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: aqua;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: lightgreen;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: rgb(113, 144, 235);
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: burlywood;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .star{
    color: rgb(243, 181, 25);
}
#product1 .pro .i a{
background-color: yellow;
}
#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
.icon{
    font-size: 25px;
    color: blue;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("cloth/photo-1564584217132-2271feaeb3c5.avif");
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: chocolate;
}

#banner span {
    color: red;
}

#banner botton {
    color: #fff;
}

#banner button:hover {
    background-color: goldenrod;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

#sm-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("cloth/photo-1628668013228-b44172e2a23e.avif");
    min-width: 500px;
    height: 80vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url(cloth/photo-1611312449412-6cefac5dc3e4.avif);
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: goldenrod;
    border: 1px solid goldenrod;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("cloth/photo-1591047139829-d91aecb6caea.avif");
    min-width: 20%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url("cloth/premium_photo-1675186049366-64a655f8f537.avif");
}

#banner3 .banner-box3 {
    background-image: url("cloth/premium_photo-1676031940533-8f1ac6a07268.avif");
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#newsletter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 10% 100%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: black;

}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;

}

#newsletter p span {
    color: red;

}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    margin-left: 14%;
    border-radius: 4px;
    outline: none;
}

#newsletter button {
    padding: 0 1.25em;
    font-size: 14px;
    width: 50%;
    height: 2.125rem;
    border: 1px solid transparent;
    margin-left: 14%;
    border-radius: 4px;
    outline: none;
    margin-top: 4%;
    background-color: #088178;
}

#newsletter button:hover {
    background-color: goldenrod;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:  rgb(186, 152, 66);
    
    
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    column-rule-style: solid;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 10px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    margin: 0 0 8px 0;
    padding-bottom: 10px;
    color: #000;
}

footer .follow {
    font-size: 13px;
    margin-top: 20px;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/*shop page*/
#page-shop{
    background-image: url(images/IMG-20240408-WA0039.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-shop h2{
 color: black;

}
#page-shop p{
    color: orange;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: yellow;
    padding: 15px 20px;
    border: radius 4px; 
    color: black;
    font-weight: bold;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

    /*message page*/
  #page-news {
     background-image: url(images/WhatsApp\ Image\ 2024-04-08\ at\ 14.52.50_4a3c29de.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
      height: 90vh;
     }
     #page-header h2,
     #page-header p{
       text-align: center;
     }
     #news{
    padding: 150px 150px 0 150px;
    }
#news .news-box{
 display: flex;
 align-items: center;
 width: 100%;
 position: relative;
 padding-bottom: 90px;
}
#news .news-img{
    width: 50%;
    margin-right:40px ;
}

#news img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#news .news-details{
    width: 50%;
    font-style: italic;
    font-weight: lighter;
}
#news .news-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#news .news-details h4{
    text-shadow: 2px 0px blue;
    }
    #news .news-details a::after{
      content:"" ;
       width: 50px;
       height: 1px;
       background-color: black;
       position: absolute;
       top: 4px;
       right: -60px;
    }
    #news .news-box h1{
        position: absolute;
        top: -40px;
        left: 0;
        font-size: 70px;
        font-weight: 700;
        color: #c9cbce;
        z-index: -9;
    }


    #news .news-details a:hover{
        color: goldenrod;
    }
    #news .news-details a:hover::after{
        background-color: goldenrod;
    }

/*about page*/
#page-about {
    background-image: url(Img/banner\ 4.jpg);
    background-size:cover ;
    background-position: center;
    width: 100%;
     height: 40vh;
}
#about-header{
    display: flex;
    align-items: center;
}

 #about-header img{
    width: 30%;
    height: auto;
}
#about-header div{
    padding-left: 24px;
}
#about-header p{
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;
}
#video-product{
    text-align: center;
    justify-content: space-between;
}
#video-product .video{
    width: 100%;
    height: 70%;
    
    }

/*contact page*/
#page-contact{
    background-image: url(images/header.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
     height: 40vh;
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#page-contact h2,
#page-contact p{
color: white;
font-size: medium;
}
#contact-details  span,
#form-details form span{
font-size: 12px;
}
#contact-details .details h2,
#form-details form h2{
font-size: 26px;
line-height: 35px;
padding: 20px 0;
}
#form-details .normal{
    width: 90px;
    height: 40px;
    font-size: 100%;
}
#form-details .normal:hover{
    cursor: pointer;
    background-color: goldenrod;
    color: #000;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom:15px;
    }

    #contact-details .details li{
        list-style: none;
        display: flex;     
        padding:10px 0;
    }
        #contact-details .details li i{
        font-size: 14px;
            padding-right:22px;
            }
        
                #contact-details .details li p{
                    margin: 0;
                    font-size: 14px;
                }
     #contact-details .map{
        width: 55%;
        height: 400px;
     }      
     
     #contact-details .map iframe{
        width: 100%;
        height: 100%;
     }
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
   padding: 12px 15px;
   outline: none;
   margin-bottom: 20px;
   border: 1px solid #e1e1e1;  
}
#form-details form button{
    background-color: #088178;
    color: white;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height:25px ;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
      color: #000;
}
#form-details{
    display: flex;
    justify-content: space-between;
    padding: 80px;border: 1px solid  #e1e1e1;
}




@media (max-width:799px) {
    .section-p1
    #navbar {
        display: flex;
        flex-direction: column;
         align-items: flex-start;   
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: white;
        box-shadow:0 40px 60px rgba(0, 0, 0, 0.1) ;
        padding: 80px 0 0 10px;
        transition: 00.3s;
    }
    #navbar .active{
        right: 0px;
    }
    #navabar li {
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position:absolute ;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
       }
       #feature {
        justify-content: center;    
    }
    #feature .fe-box {
      
        margin: 15px  15px ;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px ;
    }
    #banner {
          height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        padding-top:30px ;
        justify-content: space-between;
    }
    #banner3 {  
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
     }
     #newsletter .form{
        width: 70%;
     }
   /*contact page*/
   #form-details {
    padding: 40px;
   }
   #form-details form{
    width: 50%;
   }
   

}

@media (max-width:477px) {
     .section-p1{
        padding:20px;
     }

    #header{
        padding:10px 30px ;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding:0 20px;
        background-position:55% ;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
  #product1 .pro{
    width: 100%;
  }
  #banner{
    height: 40vh;
  }
   #sm-banner .banner-box{
    height: 40vh;
   }
   #sm-banner .banner-box2{
     margin-top: 20px;
   } 
   #banner3{
    padding: 0 20px;
   }
   #banner3 .banner-box{
    width: 100%;
   }
   #newsletter{
    padding: 40px 20px;
   }
   #newsletter .form{
    width:100% ;
   }
   footer .copyright{
    text-align: start;
   }
   #prodetials{
    display: flex;
    flex-direction: column;
   }
   #prodetials .single-pro-imge{
    width: 100%;
    margin-left: 0px;
   }
   #prodetials .single-pro-details{
    width:100% ;
    }
    .container {
        width: 50%;
        height: auto;
       
    }
    /*CONTACT PAGE*/
    #contact-details {
        flex-direction: column;
        } 
        #form-details .details{
            width: 100%;
            margin-bottom: 30px;
        }
        #form-details .map {
            width: 100%;
        }
        #form-details {
            margin: 10px;
            padding: 30px 10px;
            flex-wrap: wrap;
        }
        #form-details form {
            width: 100%;
            margin-bottom:30px ;
        }
        /*news page*/   
 #news{
    padding: 100px 20px 0 20px ;
 }
 #news .news-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 #news .news-img{
    width: 100%;
    margin-right:0px ;
}
#news .news-details{
    width: 100%;
}
/*cart page*/
#cart-add{
        flex-direction: column;
}
#coupon{
    width: 100%;
}
#subtoal{
    width: 100%;
    padding: 20px;
}
}